# BEGIN Expires Headers
<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access plus 1 year"
ExpiresByType img/1.webp "access plus 1 year"
ExpiresByType img/png "access plus 1 year"
ExpiresByType text/css "access plus 1 month"
ExpiresByType js "access plus 1 month"
ExpiresByType text/x-javascript "access plus 1 month"
ExpiresByType fonts "access plus 1 month"
ExpiresByType application/x-shockwave-flash "access plus 1 month"
ExpiresDefault "access plus 2 days"
</IfModule>
# END Expires Headers


